.About {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: color 1s ease-in-out;
    text-align: center;
}

.About h1 {
    position: relative;
    cursor: pointer;
    font-size: 80px;
    text-align: left;
    margin: 3px auto;
    padding-top: 3px;
    line-height: .8;
    transition: -webkit-text-stroke 1s ease-in-out,
                color 1s ease-in-out;
}

.About h1:nth-of-type(2) {
    bottom: 17px;
    padding: 20px;
}

.About p {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    -webkit-text-stroke: 0px transparent;
    text-align: left;
    padding: 50px 0;
    width: 450px;
    left: 50%;
    transition: color 1s ease-in-out;
}

.LinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.LinkContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.LinkContainer div {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    -webkit-text-stroke: 0px transparent;
    transition: opacity 1s ease-in-out,
                letter-spacing 1s ease-in-out,
                color 1s ease-in-out,
                font-size 1s ease-in-out;
}

.LinkContainer div:hover {
    font-size: 25px;
    letter-spacing: -2px;
}

.Arrow {
    position: relative;
    width: 20px;
    height: 20px;
    top: 18px;
    left: -15px;
    background-image: url('../../../assets/icons/diagonal-arrow-right-up-outline-svgrepo-com.svg');
    background-repeat: no-repeat;
    transform: scale(1.15);
}

@media only screen and (max-width: 950px) {

    .About h1 {
        position: relative;
        font-size: 55px;
    }

    .About h1:nth-of-type(2) {
        padding: 15px;
        bottom: 13px;
    }

    .About p {
        position: relative;
        font-size: 12px;
        font-weight: 300;
        padding: 20px 0px;
        width: 300px;
    }

}

@media only screen and (max-width: 700px) {

    .About h1 {
        position: relative;
        font-size: 50px;
    }

    .About p {
        position: relative;
        font-size: 10px;
        font-weight: 300;
        width: 250px;
    }

    .About div {
        font-size: 16px;
    }

    .LinkContainer div:hover {
        font-size: 20px;
    }

    .Arrow {
        top: 12px;
        left: -20px;
        transform: scale(.85);
    }
}

@media only screen and (max-width: 425px) {

    .About {
        overflow-x: hidden;
    }

    .About h1 {
        position: relative;
        font-size: 40px;
    }

    .About p {
        position: relative;
        font-size: 12px;
        font-weight: 300;
        width: 200px;
        left: 35%;
    }

    .About div {
        font-size: 12px;
    }

}