.Contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transition: color 1s ease-in-out;
}

.Contact h1 {
    position: relative;
    font-size: 80px;
    text-align: left;
    margin: 3px auto;
    padding-top: 3px;
    line-height: .8;
    right: 55px;
    cursor: pointer;
    transition: -webkit-text-stroke 1s ease-in-out,
                color 1s ease-in-out;
}

.Contact h1:nth-of-type(2) {
    right: 0px;
    bottom: 17px;
    padding: 15px;
    line-height: 70px;
}

.Contact h1:nth-of-type(3) {
    right: 158px;
    bottom: 37px;
    padding: 15px;
}

.LinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 25px;
}

.LinkContainer {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 10px 10px;
    width: 250px;
}

.LinkContainer div {
    padding: 3px 0px;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-stroke: 0px transparent;
    transition: opacity 1s ease-in-out,
                letter-spacing 1s ease-in-out,
                color 1s ease-in-out;
}

.Arrow {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 5px;
    background-image: url('../../../assets/icons/diagonal-arrow-right-up-outline-svgrepo-com.svg');
    background-repeat: no-repeat;
    transform: scale(1.1);
}

.Contact p {
    position: relative;
    font-size: 15px;
    padding-top: 25px;
    -webkit-text-stroke: 0px transparent;
    width: 350px;
    text-align: left;
    transition: color 1s ease-in-out;
}

@media only screen and (max-width: 950px) {

    .Contact h1 {
        font-size: 55px;
        right: 40px;
    }

    .Contact h1:nth-of-type(2) {
        right: 0px;
        bottom: 13px;
        line-height: 50px;
    }
    
    .Contact h1:nth-of-type(3) {
        right: 108px;
    }

    .LinksWrapper {
        padding: 10px 0;
    }

    .LinkContainer div {
        font-size: 25px;
    }

    .Arrow {
        position: relative;
        width: 20px;
        height: 20px;
        top: -2px;
        left: 0px;
        transform: scale(1);
    }

    .Contact p {
        font-size: 12px;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 700px) {

    .Contact h1 {
        right: 35px;
        position: relative;
        font-size: 50px;
    }

    .Contact h1:nth-of-type(2) {
        right: 0px;
        bottom: 12px;
    }
    
    .Contact h1:nth-of-type(3) {
        right: 99px;
    }


    .LinkContainer div {
        padding: 0px;
    }
}

@media only screen and (max-width: 425px) {

    .Contact {
        overflow-x: hidden;
    }

    .Contact h1 {
        position: relative;
        font-size: 30px;
        right: 20px;
    }

    .Contact h1:nth-of-type(2) {
        left: 0px;
        bottom: 10px;
        padding: 10px;
        line-height: 30px;
    }
    
    .Contact h1:nth-of-type(3) {
        right: 60px;
        bottom: 25px;
        padding: 5px;
    }

    .Contact p {
        position: relative;
        font-size: 12px;
        padding-top: 25px;
        -webkit-text-stroke: 0px transparent;
        width: 250px;
        text-align: left;
        transition: color 1s ease-in-out;
    }

}