.PageLink {
    margin: 5px;
    display: flex;
    flex-direction: row;
    transition: height 1s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    outline : none;
}

.PageLink h1 {
    margin: 0;
    font-size: 125px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: transparent;
    stroke: 0;
    transition: color 1s ease, 
                opacity 1s ease, 
                transform 1.5s ease, 
                letter-spacing 1s ease-in-out;
}

.PageLink h6 {
    position: relative;
    height: 25px;
    top: 85.5px;
    font-size: 10px;
    padding-left: 5px;
}

.Arrow {
    position: relative;
    width: 15px;
    height: 15px;
    top: 47px;
    left: 20px;
    background-image: url('../../../assets/icons/diagonal-arrow-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: center; 
    transform: scale(3);
    transition: opacity 1s ease;
}
